//Summit Navigation
#nav-summit{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: rgba(255,255,255,0.95);
  padding: 23px 0 70px;
  transform: translate3d(0, -100%, 0);
  transition: transform 300ms ease-in-out;
  min-height: 100vh;
  @media (min-width: $bp-medium){
    padding: 40px 0 70px;
    min-height: 0;
  }
  @media (min-width: $bp-menu-shift){
    padding: 70px 0 70px;
  }
  @media (min-width: $bp-xlarge){
    padding: 85px 0 70px;
  }
  .contained{
    position: relative;
  }
  nav, ul{
    text-align: center;
    list-style: none;
    margin: 105px 0 0;
    padding: 0;
  }
  li{
    display: block;
    margin: 0 0 $base-margin;
    @media (min-width: $bp-menu-shift){
      display: inline-block;
      margin: 0 15px;
    }
    @media (min-width: 1200px){
      margin: 0 35px;
    }
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  a,a:visited{
    display: inline-block;
    position: relative;
    color: #332e2c;
    text-decoration: none;
    font-family: $font-stack-mono;
    font-size: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    @media (min-width: $bp-menu-shift){
      font-size: 15px;
      font-size: 2vw;
    }
    @media (min-width: 940px){
      font-size: 20px;
      font-size: 2vw;
    }
    @media (min-width: 1200px){
      font-size: 23px;
    }

  }
  &.open{
    display: block;
    transform: translate3d(0, 0%, 0);
  }
  //Close Button
  .close-button{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    @media (min-width: $bp-medium){
      font-size: 14px;
    }
  }
}

.no-touch #nav-summit{
  a:hover, a:focus, a:active{
    &:after{
      content: "";
      border-bottom: 2px solid $teal;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
    }
  }
}
