//Typography(Custom)

$h1-size: 50px;
$h2-size: 28px;
$h3-size: 20px;
$h4-size: 13px;
$body-size: 16px;
$body-line-height: 22px;



body{
	font-size: 14px;
	line-height: 1.5;
	@media(min-width: $bp-medium){
		font-size: 16px;
		line-height: 1.375;
	}
}
h1,h2,h3,h4,h5,h6{
	font-family: $font-stack-special;
	text-transform: uppercase;
	letter-spacing: 1.3px;
}
h1{
	font-size: 22px;
  line-height: $body-line-height;
	margin-top: $base-margin*2;
  margin-bottom: $base-margin;
}
h2{
	font-size: 18px;
  line-height: $body-line-height;
	margin-top: $base-margin*2;
  margin-bottom: $base-margin;
}
h3{
  font-size: 16px;
  line-height: $body-line-height;
	margin-top: $base-margin*2;
  margin-bottom: $base-margin;
}
h4{
  font-size: 13px;
  line-height: $body-line-height;
  margin-top: $base-margin;
  margin-bottom: $base-margin;
}
h5, h6{
  font-size: 13px;
  line-height: $body-line-height;
  margin-top: $base-margin;
  margin-bottom: 0;
}
p, ul, ol, pre, table, blockquote{
  margin-top: 0;
  margin-bottom: $base-margin;
}


//Other
.intro-text{
	font-size: 18px;
	line-height: 1.28571429;
	font-weight: 500;
	@media (min-width: $bp-medium){
		font-size: 21px;
	}
}
