// Variables

//Wireframe colors
$gray-dark: #9E9E9E;
$gray-medium: #BDBDBD;
$gray-light: #E0E0E0;


$white: #FFFFFF;
$black: #000000;

$blue: blue;

//VoCA Colors
$teal: #4e9398;
$orange: #f9a61c;
$gray: #999;



// Main Colors
$background-color: $white;

//Text Color
$primary-text-color: $black;
$light-text-color: $white;
$link-text-color: $black;
$hover-text-color: $black;
$visited-text-color: $link-text-color;

//Button Colors
$primary-button-color: $white;
$button-hover-color: $blue;
$secondary-button-color: $gray-light;



// Shadows, Borders, & Others
$box-shadow: 0 2px 5px rgba(0,0,0,0.26);
