// Typograph
// $base-type-size: 16px;

// $base-font-size: 16px;
$base-line-height: 22px;
$base-margin: $base-line-height;

//Font families
$font-stack-sans: 'Roboto', Helvetica, Arial, san-serif;
$font-stack-serif: Georgia, Times, "Times New Roman", serif;
$font-stack-mono: Menlo, 'Lucida Console', Courier, monospace;
$font-stack-special: "League Spartan", Helvetica, Arial, sans-serif;
